<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <!-- MetaDados -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Titulo -->
    <title>Nav/Side-Bar</title>

    <!-- Custom CSS -->
    <link href="CSS\Template.css" rel="stylesheet">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

    <!-- Header -->
    <div class="header">

        <!-- Begin the section of the TopBar -->
        <section class="navMenuSection">

            <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
                <button id="btnMenu" class="btn btn-link" id="toggle-btn" onclick="showSideMenu()"><i
                        class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul id="navbarUlController" class="navbar-nav">
                        <li class="nav-item">
                            <span class="icon-holder">
                                <a href=""><i class="fas fa-comments fa-lg mr-2"></i></a>
                            </span>
                        </li>
                        <li class="nav-item">
                            <span class="icon-holder">
                                <a href=""><i class="fas fa-Bell fa-lg ml-2 mr-2"></i></a>
                            </span>
                        </li>
                        <li class="nav-item ml-2 mr-5">
                            <div class="text-center">
                                <div class="dropdown">
                                    <a class="dropdownUser dropdown-toggle" 
                                        data-toggle="dropdown">User <!-- Call SessionUserName by PHP -->
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Definições de Perfil</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

        </section>
        <!-- End of the section of the TopBar -->

    </div>
    <!-- Ending of Header -->

    <!-- Body -->
    <div class="body-content">

        <!-- Begin the section of the sidebarMenu -->
        <section class="sidebarMenuSection">

            <div class="nav-side-menu" id="sidebarMenu">

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content">
                        <li>
                            <a href="#">
                                <i class="fa fa-chart-area fa-lg"></i> Dashboard
                            </a>
                        </li>

                        <li data-toggle="collapse" data-target="#empresa" class="collapsed active">
                            <a href="#"><i class="fa fa-building fa-lg"></i> Empresa <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="empresa">
                            <li class="active"><a href="#">Definições Empresariais</a></li>
                            <li><a href="#">Rating Empresarial</a></li>
                        </ul>

                        <li>
                            <a href="#">
                                <i class="fa fa-users fa-lg"></i> Clientes
                            </a>
                        </li>

                        <li data-toggle="collapse" data-target="#campanhas" class="collapsed">
                            <a href="#"><i class="fa fa-file-contract fa-lg"></i> Campanhas <span
                                    class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="campanhas">
                            <li>Criar Campanhas</li>
                            <li>Listar Campanhas</li>
                            <li>Ativar Campanha</li>
                        </ul>

                        <li>
                            <a href="#">
                                <i class="fa fa-users fa-lg"></i> Reportings
                            </a>
                        </li>

                        <li data-toggle="collapse" data-target="#profile" class="collapsed">
                            <a href="#"><i class="fa fa-file-contract fa-lg"></i> Profile <span
                                    class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="profile">
                            <li>Definições de Perfil</li>
                            <li>Plano Comercial</li>
                        </ul>

                    </ul>
                </div>
            </div>

        </section>
        <!-- End of the section of the sidebarMenu -->

        <!-- Begin the section of the contentPage -->
        <section class="sidebarMenuSection">

        </section>
        <!-- End of the section of the contentPage -->


    </div>
    <!-- Ending of Body -->

    <!-- Boostrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        function showSideMenu() {
            document.getElementById("sidebarMenu").classList.toggle('active');
        }
    </script>

</body>

</html>