* {
	font-family: "Roboto", sans-serif;
	transition: all 0.25s;
}

.bg-orange {
	background-color: #ff8400 !important;
}

.bg-blue {
	background-color: #0056b3 !important;
}

i.close-effect {
	transform: rotate(180deg);
}

#ourNavbar {
	transition: all 0.5s;
	width: 320px;
}

#ourNavbar .active {
	border-left: 3px solid #ff8400 !important;
	background-color: #003167 !important;
}

#ourNavbar div.container {
	bottom: 0;
}

#ourNavbar a:hover {
	background-color: #ff8400 !important;
}
