.custom-control-input:checked~.custom-control-label::before {
background-color:#a6c!important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
transform: translateX(2rem) !important;
}

.custom-control-label::before {
    background-color:#4285f4!important;
    border:unset !important;
    width:3rem !important;
}

*, ::after, ::before {
    box-shadow: unset !important;
}

.custom-switch .custom-control-label::after {
    background-color: white;
    top: calc(.27rem + 2.0px) !important;
}

#cupaoDescontoValor {
    border-bottom: #4285f4 solid 2px !important;
}

#cupaoCartao {
    cursor: pointer;
}

#carimboCartao {
    cursor: pointer;
}

#raspadinhaCartao {
    cursor: pointer;
}
