.bg-orange {
    background-color: #ff8400 !important;
}

.bg-blue {
    background-color: #0056b3 !important;
}

.vertical-line {
    width: 2px;
}

#ourNavbar {
    transition: all 0.5s;
}

#ourNavbar .active {
    border-left: 3px solid #ff8400 !important;
    background-color: #003167 !important;
}

#ourNavbar div.container {
    bottom: 0;
}

nav .list-unstyled {
    max-height: 20rem;
}

nav .list-unstyled .media-body {
    width: 20rem;
}