<!DOCTYPE <!DOCTYPE html>
<html>

<head>
	<!-- MetaDados -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Titulo -->
	<title>pagetitle</title>

	<!-- Custom CSS -->
	<link href="css/header.css" rel="stylesheet">

	<!-- Boostrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

	<!-- NAVBAR -->

	<nav class="navbar navbar-expand-lg">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span id="hamburger" class="fas fa-bars"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
			<ul class="nav">
				<li class="nav-item m-1">
					<span class="icon-holder">
						<a href=""><i class="fas fa-comments"></i></a>
					</span>
				</li>
				<li class="nav-item m-1 ml-4">
					<span class="icon-holder">
						<a href=""><i class="fas fa-bell"></i></a>
					</span>
				</li>
				<li class="nav-item m-1 ml-4">
					<span class="icon-holder">
						<i class="fas fa-slash"></i>
					</span>
				</li>
				<li class="nav-item m-1 ml-4 dropdown">
					<span class="icon-holder text-light">
						<a class="nav-item dropdown-toggle text-muted text-decoration-none" href="#"
							id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<label for="name">User</label>
						</a>
						<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Definições</a>
							<a class="dropdown-item" href="#">Colaboradores</a>
							<a class="dropdown-item" href="#">Plano Comercial</a>
							<hr>
							<a class="dropdown-item" href="#">Sair</a>
						</div>
						<img for="user-img" src="">
					</span>
				</li>
			</ul>
		</div>
	</nav>
	<hr>

	<!-- SIDEBAR -->

	<div class="nav-side-menu">
		<div class="brand">MyCards</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

		<div class="menu-list">

			<ul id="menu-content" class="menu-content collapse out">
				<li>
					<a href="#">
						<i class="fa fa-chart-area fa-lg"></i> Dashboard
					</a>
				</li>

				<li data-toggle="collapse" data-target="#empresa" class="collapsed active">
					<a href="#"><i class="fa fa-building fa-lg"></i> Empresa <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="empresa">
					<li class="active"><a href="#">Definições</a></li>
					<li><a href="#">Rating</a></li>
				</ul>

				<li>
					<a href="#">
						<i class="fa fa-users fa-lg"></i> Clientes
					</a>
				</li>

				<li data-toggle="collapse" data-target="#campanhas" class="collapsed">
					<a href="#"><i class="fa fa-file-signature fa-lg"></i> Campanhas <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="campanhas">
					<li>Criar Campanhas</li>
					<li>Listar Campanhas</li>
					<li>Ativar Campanha</li>
				</ul>

				<li>
					<a href="#">
						<i class="fa fa-file-contract fa-lg"></i> Reportings
					</a>
				</li>

				<li data-toggle="collapse" data-target="#profile" class="collapsed">
					<a href="#"><i class="fa fa-user fa-lg"></i> Profile <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="profile">
					<li>Definições</li>
					<li>Colaboradores</li>
					<li>Plano Comercial</li>
				</ul>
			</ul>
		</div>
	</div>



	<!-- Boostrap JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</body>

</html>