.full-width-row {
    overflow-x: hidden;
}

.full-width-row>div {
    margin-left: -15px;
    margin-right: -15px;
}

#recoverPass {
    text-decoration: none;
}

#div-text {
    margin-top: 25%; 
}
